<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link th:href="@{/css/headerUser.css}" rel="stylesheet" href="css/headerUser.css">
    <link th:href="@{/css/infoProduct.css}" rel="stylesheet" href="css/infoProduct.css">
</head>
<body>
    <header>
    <a th:href="@{/index}" class="headerLogo">Мир ПК</a>

    <div th:if="*{isUser}" class="userLoginDiv">
        <p th:text="'Пользователь: ' + ${userLogin}"></p>
    </div>

    <form th:if="*{isUser}" method="get" th:action="@{/orders}" class="thirdSection">
        <input type="submit" value="Мои заказы" class="thirdSectionButton">
    </form>


    <form th:if="*{isUser}" method="get" th:action="@{/cart}" class="firstSection">
        <input type="submit" value="Корзина" class="firstSectionButton">
    </form>
    <form th:if="*{!isUser}" method="get" th:action="@{/auth/registration}" class="firstSection">
        <input type="submit" value="Регистрация" class="firstSectionButton">
    </form>


    <form th:if="*{isUser}" method="post" th:action="@{/logout}" class="secondSection">
        <input type="submit" value="Выйти" class="secondSectionButton">
    </form>

    <form th:if="*{!isUser}" method="get" th:action="@{/auth/login}" class="secondSection">
        <input type="submit" value="Войти" class="secondSectionButton">
    </form>
</header>

    <div class="container">
        <h3>Информация о товаре</h3>
        <div class="infoContainer">
            <div class="imageCollage">
                <div class="mainImageDiv">
                    <img th:src="'/img/' + ${product.getImageList().get(0).getFileName()}" class="mainImage">
                </div>
                <div class="imageContainer">
                    <div th:each="img : ${product.getImageList()}" class="imageDiv">
                        <img th:src="'/img/' + ${img.getFileName()}" id="imageList">
                    </div>
                </div>
            </div>


            <div class="productInfo">
                <div class="start">
                    <p>Наименование: </p>
                </div>
                <div class="end">
                    <p th:text="${product.getTitle()}"></p>
                </div>
            </div>

            <div class="productInfo">
                <div class="start">
                    <p>Цена: </p>
                </div>
                <div class="end">
                    <p th:text="${product.getPrice()} + ' руб'"></p>
                </div>
            </div>

            <div class="productInfo">
                <div class="start">
                    <p>Склад: </p>
                </div>
                <div class="end">
                    <p th:text="${product.getWarehouse()}"></p>
                </div>
            </div>

            <div class="productInfo">
                <div class="start">
                    <p>Продавец: </p>
                </div>
                <div class="end">
                    <p th:text="${product.getSeller()}"></p>
                </div>
            </div>

            <div class="productInfo">
                <div class="start">
                    <p>Категория: </p>
                </div>
                <div class="end">
                    <p th:text="${product.getCategory().getName()}"></p>
                </div>
            </div>

            <p class="descLabel">Описание: </p>
            <div class="description">
                <p th:text="${product.getDescription()}"></p>
            </div>
            
        </div>
    </div>
    <script th:src="@{/js/infoProduct.js}" src="js/infoProduct.js"></script>
</body>
</html>