body{
    background-color: rgba(184, 216, 169, 0.49);
}

h3{
    font-size: 30px;
    margin-top: -20px;
}

.container{
    display: grid;
    justify-items: center;
    margin-top: 50px;
}

.infoContainer{
    display: grid;
    justify-items: center;
    height: auto;
    width: 1200px;
    padding: 50px;
    margin-bottom: 100px;
    border-radius: 10px;
}

.infoDiv{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    padding-top: 20px;
}

.mainImageDiv{
    width: 400px;
    height: 400px;
}
.mainImage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#imageList{
    cursor: pointer;
}

#imageList:hover{
    border: 1px solid black;
}

.imageContainer{
    display: flex;
    width: 100%;
    height: 240px;
    justify-content: center;
    margin-bottom: 20px;
}
.imageDiv{
    display: grid;
    align-items: center;
    justify-items: center;
}
img{
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.productInfoDiv{
    grid-column: 2/3;
    width: 100%;
}

.productInfo{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.start{
    justify-self: start;
    font-weight: bold;
}

.end{
    justify-self: end;
}
.descLabel{
    font-weight: bold;
    font-size: 20px;
}
.description{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px black solid;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    height: auto;
    font-size: 20px;
}

.addCartSection{
    display: grid;
    justify-self: end;
    grid-column: 2/3;
    margin-bottom: 0px;
}

.addCart{
    font-size: 20px;
    align-self: center;
    background-color: rgb(230, 106, 106);
    border-radius: 3px;
    color: white;
    width: 150px;
    padding: 4px;
    border: none;
    cursor: pointer;
}

.addCart:hover{
    color:rgba(46, 29, 99, 0.966)
}