body{
    background-color: rgba(184, 216, 169, 0.49);
}

h3{
    font-size: 30px;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 50px;
}

.productDiv{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-items: center;
}

.productCart{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 400px;
    padding: 15px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    min-width: 700px;
    max-width: 800px;
}

.productCart:hover{
    box-shadow: 5px 5px 5px 0 rgba(21, 207, 46, 0.603);
}

.orderNumber{
    align-self: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

.imageDiv{
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/7;
    width: 150px;
    margin-right: 15px;
}

.image{
    height: auto;
    width: 100%;
}

.titleLabel{
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 25px;
    justify-self: start;
}

.title{
    align-self: center;
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 25px;
    justify-self: end;
}

.countLabel{
    align-self: center;
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 25px;
    justify-self: start;
}

.count{
    align-self: center;
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: 25px;
    justify-self: end;
}


.priceLabel{
    align-self: center;
    grid-column: 2/3;
    grid-row: 4/5;
    font-size: 25px;
    justify-self: start;
}

.price{
    align-self: center;
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 25px;
    justify-self: end;
}

.dateLabel{
    align-self: center;
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: 25px;
    justify-self: start;
}

.date{
    align-self: center;
    grid-column: 3/4;
    grid-row: 5/6;
    font-size: 25px;
    justify-self: end;
}

.statusLabel{
    align-self: center;
    grid-column: 2/3;
    grid-row: 6/7;
    font-size: 25px;
    justify-self: start;
}

.status{
    align-self: center;
    grid-column: 3/4;
    grid-row: 6/7;
    font-size: 25px;
    justify-self: end;
}

.productCart>p{
    margin-top: 0px;
}